.EditProfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  width: 30rem;
  height: 28rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(144, 238, 144, 0.8);
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  margin-top: 2rem;
  outline: none;
}

.EditForm {
  width: 25rem;
  margin-left: 3.8rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.EditBtn {
  margin-top: 1rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  outline: none;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 1rem;
}

.EditBtn.Primary {
  background-color: #ffffff;
  color: #000000;
  margin-left: 1rem;
}

.EditBtn.CancelBtn {
  background-color: #f04729;
  color: #ffffff;
  margin-left: auto;
}

.ButtonWrapper {
  width: 20rem;
  display: flex;
}

.EditElement input {
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 2rem;
  outline-color: rgb(102, 191, 102);
  margin-top: 0.6rem;
}
.EditElement input:first-child {
  margin-bottom: 1rem;
}

.EditHeading {
  text-transform: uppercase;
  font-family: 'Josefin sans';
  margin-left: 3.5rem;
}

.ErrorMessage {
  font-weight: bold;
  color: red;
  padding: 0;
  margin: 0 0 0 3.5rem;
}

.SuccessMessage {
  font-weight: bold;
  color: green;
  padding: 0;
  margin: 0 0 0 3.5rem;
}
