@import url(//db.onlinewebfonts.com/c/4cd6d75435bb5e41c3ecfc41c3db884e?family=TimesDigitalW04-Regular);
@import url('https://fonts.googleapis.com/css?family=Prata');

/* http://bettermotherfuckingwebsite.com */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 40px auto;
  padding: 0 10px;
  max-width: 70ch;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
  background: #F5EFEB;
}

code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace}
h1, h2, h3 {line-height: 1.2}
button, input, textarea {font: inherit}
input[type=submit]{-webkit-appearance: none}

nav {
  display: flex;
  justify-content: center;
  background: #d3d2d091;
  margin-bottom:1em;
}
nav a {
  color: #393;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
}

.menu {
  color: #393;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  padding: .5em;
  font-size: 1.5em;
}

.menu:hover:not(.active) {
  color:orange;
  cursor: pointer;
}

nav a:hover {
  color:orange;
}
