.list-t {
  color: black;
  width: 650px;
  /*background-color: #cfb27441;*/
  background-color: #F3F1F0;
  /*border: 2px solid #000;*/
  /*outline-color: black;*/
  height: auto;
  margin: 10px auto;
  /*font-family: TimesModern;*/
  font-family: "Prata";
  /*border-radius: 5px*/
  padding: 10px;
  overflow: hidden;
}



.search-icons {
  width: 25px;
  height: 50px;
  float: right;
  }

 .list-t p {
  position: relative;
} 

.list-t textarea:focus {
  outline: none; 
}

.list-t textarea {
  /*padding: 5px;*/
  scrollbar-width: none;
  /*scroll-behavior: auto;*/
  /*overflow: auto;*/
  resize: none;
  width: 650px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  background-color: #F3F1F0;
  color: #ffffff;
  border: 0;
  color: #696969;
  font-size: 18px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
}

.title {
  width: 550px;
  /* display: inline list-item; */
  
}



.author {
  /*padding: 5px;*/
  scrollbar-width: none;
  /*scroll-behavior: auto;*/
  /*overflow: auto;*/
  resize: none;
  
  /* cursor: pointer; */
  /* position: absolute; */
  background-color: #F3F1F0;
  color: #ffffff;
  border: 0;
  color: #696969;
  font-size: 18px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
}

.list-t p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons-t{
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
}

.list-t p input {
  width: 500px;
  height: 200px;
  position: absolute;
  background-color: #F3F1F0;
  color: #ffffff;
  border: 0;
  color: #696969;
  font-size: 18px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
}

.list-t p input:focus {
  outline: none;
}


.book-func {
  width: 550px;

}

.borrowed-book {
  width: auto;
  font-size: 12px;
  margin-top: 5px;
  color: #696969;
  float: left;
  margin-right: 4px;
}

.book-copies {
  width: auto;
  font-size: 12px;
  margin-top: 5px;
  color: #696969;
  float: left;
  margin-right: 4px;

}

.book-borrow {
width: auto;
font-size: 12px;
margin-top: 5px;
color: #696969;
cursor: pointer;
float: left;
margin-right: 4px;
}

.book-return {
  width: auto;
  font-size: 12px;
  margin-top: 5px;
  color: #696969;
  float: left;
  cursor: pointer;
  margin-right: 4px;

}

.book-return:hover, .book-borrow:hover {
  color: #383737;

}

