.LoginBtn {
  margin-top: 1rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  outline: none;
  color: black;
  font-size: medium;
  cursor: pointer;
}

.LoginElement input {
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 2rem;
  outline-color: rgb(102, 191, 102);
  margin-top: 0.6rem;
}
.LoginElement input:first-child {
  margin-bottom: 1rem;
}
