.LandingPage .App {
  display: flex;
  justify-content: center;
}

.LandingPage .App-Link {
  color: #ffffff;
  text-decoration: none;
}

.LandingPage nav {
  width: 100%;
  height: 10rem;
}
.LandingPage .NavList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.5rem;
}
.LandingPage a:visited {
  text-decoration: none;
  color: #e4f2c5;
}
.LandingPage a:hover {
  text-decoration: none;
  background-color: #e4f2c5;
  color: black;
}

.LandingPage {
  background-color: rgb(102, 191, 102);
  height: 100vh;
  padding: 1rem;
  background-image: url('logo.svg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}
.Main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-self: center;
}
/* Form Modal Search Body */
.Search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 1rem;
  width: 30rem;
  height: 10rem;
  padding: 1rem 0 1rem 0;
}

.Form-Search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Form-Search button {
  margin-top: 1rem;
  width: 8rem;
  padding: .5rem;
  border-radius: 1.5rem;
  background-color: rgb(102, 191, 102);
  outline: none;
  color: #ffffff;
  font-size: medium;
}
.InputWrapper input {
  display: block;
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 2rem;
  outline-color: rgb(102, 191, 102);
}

/* Login Modal Body */

.Login {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: #ffffff;
  border-radius: 1rem;
  width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
}

.LoginBtn {
  margin-top: 1rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: #bcdabf80;
  outline: none;
  color: black;
  font-size: medium;
  cursor: pointer;
}

.LoginElement input {
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 2rem;
  outline-color: rgb(102, 191, 102);
  margin-top: .6rem;
}
.LoginElement input:first-child {
  margin-bottom: 1rem;
}

/* Modal */
.Modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
