body {
  background-color: #F5EFEB;
}

.search-t {
  justify-content: center;
  background-color: #d3d2d091;
  min-height: 500px;
/*
  width: 800px;
  margin: 40px auto;
*/
  padding: 0px 0px 15px 0px;
}

#search-form-t input {
  background-color: #F3F1F0;
  color: #696969;
  /*border: 2px solid #000;*/
  border: 0;
  /*color: #ffffff;*/
  width: 400px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 22px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
  /*border-radius: 10px;*/
  /*color: #000;*/
}

#search-form-t input::placeholder {
  color: #696969;
}

#search-form-t input:focus {
  outline: none; 
}

#search-form-t button {
  color: #696969;
  height: 50px;
  width: 150px;
  padding: 0 20px;
  font-size: 22px;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Prata";
  border: 0;
  /*border: 2px solid #000;*/
  /*outline-color: black;*/
  /*border-radius: 10px;*/
  background-color: #F3F1F0;
  cursor: pointer;
}

#title-t {
  font-family: "TimesDigitalW04-Regular";
  /*font-family: "Prata";*/
  font-size: 82px;
  line-height: 4.5rem;
  font-weight: 900;
  /*padding: 0 20px;*/
  text-align: center;
  margin: 3%;
}