.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
}

.modal {
  position: absolute;
  width: 900px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-left: -500px;
  margin-top: -400px;
  /* right: 40px;
  bottom: 40px; */
  text-align: center;
  border: 1px solid #ccc;
  background: rgb(240, 232, 166);
  opacity: 100%;
  /* overflow: auto; */
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  /* WebkitOverflowScrolling: touch; */
  outline: none;
  padding: 20px;
}

.pretty-print {
  text-align: left;
  }

textarea {
  /*padding: 5px;*/
  scrollbar-width: none;
  /*scroll-behavior: auto;*/
  /*overflow: auto;*/
  resize: none;
  width: 700px;
  height: 200px;
  cursor: pointer;
  position: relative;
  background-color: #F3F1F0;
  color: #ffffff;
  border: 0;
  color: #696969;
  font-size: 18px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
}

.signup-message p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: #F5EFEB;
}

.signup {
  justify-content: center;
  /* background-color: #d3d2d091; */
  /* min-height: 500px; */
/*
  width: 800px;
  margin: 40px auto;
*/
  /* padding: 0px 0px 15px 0px; */
}

.signup input::placeholder {
  color: #696969;
}

.signup input:focus {
  outline: none; 
}

.signup button {
  color: #696969;
  margin: 30px;
  height: 50px;
  width: 200px;
  padding: 0 20px;
  font-size: 22px;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Prata";
  border: 0;
  /*border: 2px solid #000;*/
  /*outline-color: black;*/
  /*border-radius: 10px;*/
  background-color: #F3F1F0;
  cursor: pointer;
}

#title-t {
  font-family: "TimesDigitalW04-Regular";
  /*font-family: "Prata";*/
  font-size: 82px;
  line-height: 4.5rem;
  font-weight: 900;
  /*padding: 0 20px;*/
  text-align: center;
  margin: 3%;
}


.signup input {
  background-color: #F3F1F0;
  display: inline-block;
  color: #696969;
  /*border: 2px solid #000;*/
  border: 0;
  /*color: #ffffff;*/
  width: 400px;
  height: 50px;
  padding: 0 20px;
  margin: 10px;
  font-size: 22px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
  /*border-radius: 10px;*/
  /*color: #000;*/
}

.form-container {
  display: block;
  width: 900px;
}


.FormElement label {
  display: inline-block;
  text-align: right;
  /* background-color: #F3F1F0; */
  color: #696969;
  /*border: 2px solid #000;*/
  border: 0;
  /*color: #ffffff;*/
  width: 100px;
  height: 50px;
  padding: 0 20px;
  margin: 10px;
  font-size: 22px;
  /*line-height: 2rem;*/
  /*font-weight: 400;*/
  font-family: "Prata";
  /*border-radius: 10px;*/
  /*color: #000;*/

}

.FormElement2 label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #696969;
}