.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(144, 238, 144, 0.8);
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  margin-top: 2rem;
  outline: none;
}

.SignupBtn {
  margin-top: 1rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  outline: none;
  color: black;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 1rem;
}

.SignupElement input {
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 2rem;
  outline-color: rgb(102, 191, 102);
  margin-top: 0.6rem;
}
.SignupElement input:first-child {
  margin-bottom: 1rem;
}

.SignupHeading {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Josefin sans';
}

.ErrorMessage {
  font-weight: bold;
  color: red;
  padding: 0;
  margin: 0;
}
.SuccessMessage {
  font-weight: bold;
  color: green;
  padding: 0;
  margin: 0;
}
